    <section class="anxietyAndDoubt">
      <h2 class="title-h2">
        <span>高品質基盤印刷、興味はあるけど</span
        >こんな不安・疑問も&#183;&#183;&#183;
      </h2>
      <div class="speechBalloons">
        <div>
          <div>
            <span>当社内で使っていたデータ</span>そのまま使える？<br />
            入稿できるの？
          </div>
        </div>
        <div>
          <div>
            <span>データはできたけれど</span>基盤が正常に機能<br />
            してくれるか心配&nbsp;&#183;&#183;&#183;
          </div>
        </div>
        <div>
          <div>
            <span>支払い方法に不安</span>請求書、翌月末払いしか<br />
            会社的にNGで&nbsp;&#183;&#183;&#183;
          </div>
        </div>
        <div>
          <div>
            <span>急ぎで必要だけど&nbsp;&#183;&#183;&#183;</span
            >出荷日、納品日は<br />
            結局いつなの？
          </div>
        </div>
      </div>
    </section>
