  <section class="factor">
    <h2 class="factor-title">
      <span>テクノールが</span>深圳やシリコンバレーに<br class="display-mobile" />選ばれる理由
    </h2>
    <div class="factor-img">
      <picture>
        <source media="(max-width: 480px)" srcset="./img/factor-sp.svg?202308241719" />
        <source media="(min-width: 481px)" srcset="./img/factor.svg?202308241719" />
        <img src="./img/factor-service.svg?202308241719" alt="広州やシリコンバレーのお客様に選ばれているワケ" />
      </picture>
    </div>
    <div class="factor-lists">
      <ul class="factor-annotationLists">
        <li>
          1 ICチップ、KGLプラチナコート90、14営業日出荷、5,000個ご発注の場合。
        </li>
        <li>
          2 1 利用にあたっては、後日、経済産業省
          基盤開発機構による審査が行われる場合があります。<br class="display-desktop" />審査は発注のたびに行われる場合があり、審査費用 1,330円(税込)
          が発生します。
        </li>
      </ul>
    </div>
  </section>