<div class="floatingButtonContainer display-desktop">
  <a class="floatingButton" href="https://technore.com/print/semiconductor/prices?color=BOTH_SIDE_COLOR&amp;paper=COAT&amp;size=A4&amp;weight=90"><span class="floatingButton__priceCircle"><span class="numberOrPrice">1</span>枚<br /><span class="numberOrPrice">123</span>円〜
    </span>
    <div class="floatingButton__textBox">
      <div class="floatingButton__lead">
        <span class="slash-l"></span>
        &nbsp;業界最高品質に王手！
        <span class="slash-r"></span>
      </div>
      <div class="floatingButton__label">
        最新のICチップ印刷を<br class="display-desktop" /><span>チェックしてみる</span>
      </div>
    </div>
  </a>
</div>