<section class="flow">
  <h2 class="title-h2">お手元に届くまでの流れ</h2>
  <div class="flow-inner">
    <div class="imgBox">
      <picture
        ><source
          media="(max-width: 480px)"
          srcset="./img/flow-sp.svg?202308241719"/>
        <source media="(min-width: 481px)" srcset="./img/flow.svg?202308241719"/>
        <img
          width="920"
          height="380"
          src="./img/flow.svg?202308241719"
          alt="お手元に届くまでの流れ"
      /></picture>
      <div class="annotation annotation-mark">
        19:29までに注文を完了、19:49までに入稿を完了、19:59までに受付日確定したご注文が対象です。お届け先・分納先が1都3県内のみ(一部対象外あり)。
      </div>
    </div>
  </div>
</section>