<footer class="footer">
  <div>
    <h3>100%満足保証プログラムについて</h3>
    <div>
      以下の場合には適応をお断りする場合がございます。
    </div>
    <ul>
      <li>
        ・ご注文内容やご入稿データ通りの印刷結果の場合（入力ミスやデザインミス、使用素材の解像度に起因する問題など）
      </li>
      <li>・天候や災害のために発生した問題（配送遅延など）</li>
      <li>・その他お客様のご都合の場合</li>
    </ul>
    <p>
      その他、キャンセル・返品等の詳細につきましては、テクノールサービス利用規約をご参照ください。
    </p>
  </div>
  <small>Copyright © 2021 technore INC. All Rights Reserved.</small>
</footer>