<div class="hero">
  <div class="hero__inner">
    <div class="hero__title">
      <p class="hero__title__main">
        基盤印刷・<br class="display-mobile" />業界最高品質に王手！
      </p>
      <div class="hero__title__sub">緊急の調達に対応</div>
      <div class="hero__title__3rd">週次おまとめ納品もOK</div>
    </div>
    <div class="hero__priceCircle">
      <div class="priceCircle">
        <div class="priceCircle__inner">
          <div class="priceCircle__title">IC基盤 1枚</div>
          <div class="priceCircle__price">
            <span class="price">123</span>
            <div class="unitBox">
              <div class="tax">(税込)</div>
              <div class="unit">円〜</div>
            </div>
            <sub class="asterisk">※3</sub>
          </div>
        </div>
      </div>
      <div class="priceCircle">
        <div class="priceCircle__inner">発注前に<br />設計確認</div>
      </div>
    </div>
    <ul class="annotationLists">
      <li>
        1 利用にあたっては、後日、経済産業省
        基盤開発機構による審査が行われる場合があります。審査は発注のたびに行われる場合があり、審査費用
        1,330円(税込) が発生します。
      </li>
      <li>
        2
        お客様からのお申し出内容によっては、100%品質保証プログラムの適応対象外とさせていただく場合がございます。
      </li>
      <li>
        3
        ICチップ・半導体基盤印刷、プラチナコートGL98、15営業日出荷、500セットの場合
      </li>
    </ul>
    <div class="hero__eyecatche">
      <img width="420" height="230" src="./img/eyecatches.png?202308241719" alt="充実のカスタマーサポート 安心の100%満足保証" />
    </div>
    <h1 class="mainTitle">
      <a href="/" class="mainTitle__logo"><img width="160" height="45.6" src="./img/logo-technor.svg?202308241719" alt="精密 IC 基盤ハイテク印刷 テクノール(technore)" />
        <p class="mainTitle__text">IT 基盤革命 テクノール</p>
      </a>
    </h1>
  </div>
</div>