<section class="regulation">
  <div class="regulation__inner">
    <h2 class="regulation__title">
      <span>ICチップ基盤、素材の種類と厚さ</span>選べる仕様
    </h2>
  </div>
  <div class="regulation__body">
    <div class="imgBoxLeft">
      <div class="imgBoxLeft__title">基盤の種類</div>
      <div class="imgBoxLeft__lead">
        GL90, SLX78TT, 銀可変樹脂など<br />性能をご確認のうえ、希望の基盤をご選択ください。
      </div>
      <div class="imgBoxLeft__body">
        <ul class="baseTypeLists">
          <li>
            <div class="baseImage"></div>
            <div class="baseExplanation">
              <div class="baseLabel">プリント銀基盤</div>
              <div class="baseText">
                【高速な導通と耐久性が可能】<br />複雑な回線を多く使ったチップに最適
              </div>
            </div>
          </li>
          <li>
            <div class="baseImage"></div>
            <div class="baseExplanation">
              <div class="baseLabel">GL90基盤</div>
              <div class="baseText">
                【伝導ロスが無く高反応、高耐久】<br />精密かつ情報量が多いチップに最適
              </div>
            </div>
          </li>
          <li>
            <div class="baseImage"></div>
            <div class="baseExplanation">
              <div class="baseLabel">SLX78TT基盤</div>
              <div class="baseText">
                【JENMAによる仕様変更可能】<br />追加書き込みが可能な唯一のチップ
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="imgBoxRight">
      <div class="imgBoxRight__title">用紙の厚さ・重さ</div>
    </div>
  </div>
  <div class="regulation__explanation">
    IC基盤印刷で汎用性が高く<br />
    もっとも選ばれる基盤素材は<br /><span>銀可変樹脂 533μm</span>
    です
  </div>
</section>