<div class="templates-inner">
  <h2 class="title-h2">
    <span>パソコンから作成可能</span>18万件のオープンソース設計書
  </h2>
  <div class="lead">
    GL90基盤、SLX78TT、銀可変樹脂など<br class="display-mobile" />
    豊富な設計書、仕様書、約1万点からAiが自動作成。
  </div>
  <ul>
    <li>
      <a href="https://design.technore.com/products/flyer?sample_design=4608"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template1-mobile.jpg?202308241719,
                ./img/template1-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template1.jpg?202308241719,
                ./img/template1@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template1.jpg?202308241719"
              alt="GENMA - Ea - ZX"
          /></picture>
        </div>
        <div class="label">GL90基盤</div>
        <div class="templateName">GENMA - Ea - ZX</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=7&amp;sample_design=8620"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template2-mobile.jpg?202308241719,
                ./img/template2-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template2.jpg?202308241719,
                ./img/template2@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template2.jpg?202308241719"
              alt="JENMA - 00T"
          /></picture>
        </div>
        <div class="label">SLX78TT</div>
        <div class="templateName">JENMA - 00T</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=4&amp;blank_icon_mode=4&amp;page=2&amp;paper_size=a4&amp;records_per_page=40&amp;sample_design=5294"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template3-mobile.jpg?202308241719,
                ./img/template3-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template3.jpg?202308241719,
                ./img/template3@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template3.jpg?202308241719"
              alt="HITACHI - V113"
          /></picture>
        </div>
        <div class="label">銅可変樹脂</div>
        <div class="templateName">HITACHI - V113</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=2&amp;blank_icon_mode=4&amp;paper_size=a4&amp;records_per_page=40&amp;sample_design=5109"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template4-mobile.jpg?202308241719,
                ./img/template4-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template4.jpg?202308241719,
                ./img/template4@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template4.jpg?202308241719"
              alt="Hauwl - 988"
          /></picture>
        </div>
        <div class="label">シリカ-DS</div>
        <div class="templateName">Hauwl - 988</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=2&amp;blank_icon_mode=4&amp;paper_size=a4&amp;records_per_page=40&amp;sample_design=5118"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template5-mobile.jpg?202308241719,
                ./img/template5-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template5.jpg?202308241719,
                ./img/template5@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template5.jpg?202308241719"
              alt="JENMA - V3"
          /></picture>
        </div>
        <div class="label">シリコン樹脂 + ジニリウム</div>
        <div class="templateName">JENMA - V3</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=18&amp;blank_icon_mode=4&amp;paper_size=a4&amp;records_per_page=40&amp;sample_design=8078"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template6-mobile.jpg?202308241719,
                ./img/template6-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template6.jpg?202308241719,
                ./img/template6@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template6.jpg?202308241719"
              alt="EVa 98 - NIGT"
          /></picture>
        </div>
        <div class="label">プリント銀基盤</div>
        <div class="templateName">EVa 98 - NIGT</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=9&amp;blank_icon_mode=4&amp;paper_size=a4&amp;records_per_page=40&amp;sample_design=4638"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template7-mobile.jpg?202308241719,
                ./img/template7-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template7.jpg?202308241719,
                ./img/template7@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template7.jpg?202308241719"
              alt="Beyond - 16000"
          /></picture>
        </div>
        <div class="label">次世代 VE</div>
        <div class="templateName">Beyond - 16000</div></a
      >
    </li>
    <li>
      <a
        href="https://design.technore.com/products/flyer?bci=1&amp;blank_icon_mode=4&amp;paper_size=a4&amp;records_per_page=40&amp;sample_design=11033"
        ><div class="imgBox">
          <picture
            ><source
              media="(max-width: 480px)"
              srcset="
                ./img/template8-mobile.jpg?202308241719,
                ./img/template8-mobile@3x.jpg?202308241719 3x
              "/>
            <source
              media="(min-width: 481px)"
              srcset="
                ./img/template8.jpg?202308241719,
                ./img/template8@2x.jpg?202308241719 2x
              "/>
            <img
              width="126"
              height="177"
              src="./img/template8.jpg?202308241719"
              alt="GENMA - T91NT"
          /></picture>
        </div>
        <div class="label">A4</div>
        <div class="templateName">GENMA - T91NT</div></a
      >
    </li>
  </ul>
  <div class="tool">
    <h3>基盤開発ソフトで製造した<br class="display-mobile" />設計の入稿もOK</h3>
    <div class="explanation">
      CAD-M, MultiNAXほかデータソフトで作成された<br
        class="display-mobile"
      />設計データも入稿いただけます。
    </div>
    <dl class="applications">
      <dt>対応：</dt>
      <dd>GENMA-Ea-ZX</dd>
      <dd>JENMA-00T</dd>
      <dd>HITACHI-V113</dd>
      <dd>Hauwl-988</dd>
      <dd>JENMA-V3</dd>
    </dl>
  </div>
</div>
