.annotationList {
  padding-left: 1.2rem;
  text-align: left;
  @include annotation;
}

.annotationList--top{
  margin-top: 2rem;
}

.annotationLists > li {
  padding-left: 1.2rem;
  position: relative;
  @include annotation;
}

.flow .annotationList {
  margin-top: 1.2rem;
}

.annotation-mark-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.annotation-mark-list > li {
  padding-left: 1.2rem;
  position: relative;
}

.annotation-mark-list > li:before {
  content: "※";
  display: block;
  height: 1.2rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 1.2rem;
}

.annotation-mark {
  margin-left: 1.2rem;
  position: relative;
}

.annotation-mark:before {
  content: "※";
  display: block;
  height: 1.2rem;
  left: -1.2rem;
  position: absolute;
  top: 0;
  width: 1.2rem;
}

.service .heroInner .annotation,
.icBase-lp .heroInner .annotation {
  font-size: 1.2rem;
  margin: 0;
  text-shadow: 0 0 1rem #fff;
}

.factor .annotation {
  color: $grey;

  > li {
    font-size: 1.2rem;
    position: relative;
  }
}

@include sp {
  .heroInner .annotation {
    font-size: 1.2rem;
    line-height: 1.4;
    .factor .annotation > li {
      font-size: 1.2rem;
    }
  }
}

.resolveAnnotation {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  padding: 0;
  text-align: left;
}

.payContents {
  .resolveAnnotation {
    width: 100%;
  }
}

@include sp {
  .payContents {
    .resolveAnnotation {
      width: 92%;
    }
  }
}

.confirmImage-inner {
  .resolveAnnotation {
    text-align: center;
  }
}

@include sp {
  .resolveAnnotation {
    font-size: 1.2rem;
    margin: 1rem auto 0;
    width: 92%;
  }

  .confirmImage-inner {
    .resolveAnnotation {
      text-align: left;
    }
  }
}
