.annotationList {
  padding-left: 12px;
  text-align: left;
  @include annotation;
}

.annotationLists > li {
  padding-left: 12px;
  position: relative;
  @include annotation;
}

.flow .annotationLists {
  margin-top: 12px;
}

.annotation-mark-list {
  list-style-type: none;
  margin-bottom: 0;
  padding-left: 0;
}

.annotation-mark-list > li {
  padding-left: 12px;
  position: relative;
}

.annotation-mark-list > li:before {
  content: "※";
  display: block;
  height: 12px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.annotation-mark {
  margin-left: 12px;
  position: relative;
}

.annotation-mark:before {
  content: "※";
  display: block;
  height: 12px;
  left: -12px;
  position: absolute;
  top: 0;
  width: 12px;
}

.service .heroInner .annotation,
.icBase-lp .heroInner .annotation {
  font-size: 12px;
  margin: 0;
  text-shadow: 0 0 10px #fff;
}

.factor .annotation {
  color: #666;

  > li {
    font-size: 12px;
    position: relative;
  }
}

.flow .annotation {
  color: #666;
  font-size: 12px;
  margin-top: 40px;
  text-align: left;
}

@media only screen and (max-width: 480px) {
  .flow .annotation {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .heroInner .annotation {
    font-size: 12px;
    line-height: 1.4;
    .factor .annotation > li {
      font-size: 12px;
    }
  }
}

.resolveAnnotation {
  font-size: 12px;
  margin-top: 12px;
  padding: 0;
  text-align: left;
}

.payContents {
  .resolveAnnotation {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .payContents {
    .resolveAnnotation {
      width: 92%;
    }
  }
}

.confirmImage-inner {
  .resolveAnnotation {
    text-align: center;
  }
}

@media only screen and (max-width: 480px) {
  .resolveAnnotation {
    font-size: 12px;
    margin: 10px auto 0;
    width: 92%;
  }

  .confirmImage-inner {
    .resolveAnnotation {
      text-align: left;
    }
  }
}
