.anxietyAndDoubt {
  background: #f5f5f5 url(../img/service/anxiety-and-doubt.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 73.4rem;
  padding: 8rem 0;
  text-align: center;
}

.anxietyAndDoubt__title {
  @include title-h2;
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .anxietyAndDoubt {
    background-image: url(../img/service/anxiety-and-doubt@2x.png);
    background-size: 73.4rem;
  }
}

@include sp {
  .anxietyAndDoubt {
    background: #f5f5f5 url(../img/service/anxiety-and-doubt-mobile.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 31.6rem;
    padding: 4rem 0 0;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .anxietyAndDoubt {
    background-image: url(../img/service/anxiety-and-doubt-mobile@3x.png);
    background-size: 31.6rem;
  }
}

// speechBalloons
.speechBalloons {
  height: 30rem;
  margin: 5rem auto 0;
  position: relative;
  max-width: 112.4rem;

  > div {
    background: #00a0e8;
    border-radius: 2rem;
    color: #fff;
    display: table;
    font-size: 2.2rem;
    height: 13.8rem;
    line-height: 1.6;
    position: absolute;
    text-align: center;
    width: 29.7rem;

    > div {
      display: table-cell;
      vertical-align: middle;
      font-size: 2.2rem;
    }

    span {
      display: block;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
  }

  > div:first-of-type {
    bottom: 0;
    left: 0;
  }

  > div:first-of-type:after {
    background: url(../img/service/triangle.png) 50% no-repeat;
    bottom: 50%;
    content: "";
    height: 2.6rem;
    position: absolute;
    right: -0.8rem;
    width: 2.6rem;
  }

  > div:nth-of-type(2) {
    left: 24.8rem;
    top: 0;
  }

  > div:nth-of-type(2):after {
    background: url(../img/service/triangle.png) 50% no-repeat;
    bottom: -0.4rem;
    content: "";
    height: 2.6rem;
    left: 50%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 2.6rem;
  }

  > div:nth-of-type(3) {
    right: 24.8rem;
    top: 0;
  }

  > div:nth-of-type(3):after {
    background: url(../img/service/triangle.png) 50% no-repeat;
    bottom: -0.7rem;
    content: "";
    height: 2.6rem;
    position: absolute;
    right: 50%;
    -webkit-transform: rotate(-141deg);
    transform: rotate(-141deg);
    width: 2.6rem;
  }

  > div:nth-of-type(4) {
    bottom: 0;
    right: 1rem;
  }

  > div:nth-of-type(4):after {
    background: url(../img/service/triangle.png) 50% no-repeat;
    bottom: 50%;
    content: "";
    height: 2.6rem;
    left: -0.9rem;
    position: absolute;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    width: 2.6rem;
  }
}

@include sp {
  .speechBalloons {
    height: 30.8rem;
    margin: 3.5rem auto auto;
    width: 93%;

    > div {
      border-radius: 1rem;
      height: 7.5rem;
      width: 15rem;

      > div {
        font-size: 1.2rem;
      }

      span {
        font-size: 1.2rem;
        margin-bottom: 0.6rem;
      }
    }

    > div:first-of-type {
      left: 0.5rem;
      top: 11rem;
    }

    > div:first-of-type:after {
      background-size: 1.5rem;
      bottom: -1.2rem;
      left: 50%;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    > div:nth-of-type(2) {
      left: 1.6rem;
      top: 0;
    }

    > div:nth-of-type(2):after {
      background-size: 1.5rem;
      bottom: -1.2rem;
      left: 50%;
    }

    > div:nth-of-type(3) {
      right: 1.6rem;
      top: 0;
    }

    > div:nth-of-type(3):after {
      background-size: 1.5rem;
      bottom: -1.4rem;
      left: 40%;
    }

    > div:nth-of-type(4) {
      right:0.5rem;
      top: 11rem;
    }

    > div:nth-of-type(4):after {
      background-size: 1.5rem;
      bottom: -1.4rem;
      left: 40%;
      -webkit-transform: rotate(-137deg);
      transform: rotate(-137deg);
    }
  }
}
