// button
%buttonBase {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-image: url(../img/right-arrow.svg);
  background-position: center right 3rem;
  background-repeat: no-repeat;
  border-radius: 5rem;
  width: 42.8rem;
  height: 9.6rem;
  line-height: 1.4;
  margin: 2.4rem 1.6rem 0;

  > span {
    font-size: 2.4rem;
  }

  &:hover {
    opacity: 0.6;
  }

  @include sp {
    width: 92%;
    max-width: 34.5rem;
    height: 6rem;
    margin: 0.8rem auto 0;
    background-position: center right 2rem;
    background-size: 0.8rem;

    > span {
      font-size: 1.4rem;
    }

    &:nth-of-type(2) {
      margin-bottom: 4rem;
      margin-top: 4rem;
    }
  }
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4.8rem;
}

.button {
  @extend %buttonBase;
  background-color: #000000;
  color: #e6cd92;
}

.button-register {
  @extend %buttonBase;
  background-color: #e6cd92;
  color: #000;
}

.button-dark {
  background-color: #f5f5f5 !important;
}

@include sp {
  .buttonContainer {
    display: block;
    margin: 2.4rem auto 0;
  }

  .buttonBox {
    margin-top: 2.4rem;
  }
}

.order .button {
  margin: 3.2rem auto 0;
  width: 64rem;
}

@include sp {
  .order .button {
    height: 6rem;
    margin-top: 3.8rem;
    max-width: 34.5rem;
    width: 92%;
  }
}

.button-otherProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff url(../img/arrow-black.svg) 50% no-repeat;
  background-position: center right 2rem;
  border-radius: 2.5rem;
  color: #333;
  font-weight: 600; color:#333333;
  height: 4.2rem;
  width: 30.6rem;
  margin-top: 6.4rem;

  > span {
    font-size: 2rem;
  }
}

@include sp {
  .button-otherProducts {
    height: 4rem;
    margin: 2.4rem auto 0;
    width: 29.1rem;

    > span {
      font-size: 1.3rem;
    }
  }
}

// service buttons
.checkAndRegister {
  padding: 8rem 0;
  text-align: center;
}

.checkAndRegister__inner {
  margin: auto;
  width: 96rem;
}

.checkAndRegister__lead {
  font-size: 2.8rem;
  font-weight: 600;
  color:#333333;
  line-height: 1.7;
}

@include sp {
  .checkAndRegister {
    padding: 3.8rem 0;
  }

  .checkAndRegister__inner {
    width: 100%;
  }

  .checkAndRegister__lead {
    font-size: 1.4rem;
    line-height: 1.4;
  }
}

.buttonBox__copyBox {
  display: inline-block;
  font-size: 2.6rem;
  font-weight: 600; color:#333333;
  line-height: 1.4;
  position: relative;
}

.priceOff {
  font-size: 2.8rem;

  > span {
    font-size: 2.4rem;
  }

  .comma {
    font-size: 2.6rem;
  }
}

.termsOfUse {
  font-size: 1.6rem;
  font-weight: 400;
  position: absolute;
  right: 3rem;
  top: -1.4rem;
}

@include sp {
  .buttonBox__copyBox {
    font-size: 1.4rem;

    .priceOff {
      font-size: 1.4rem;

      > span {
        font-size: 1.2rem;
      }

      .comma {
        font-size: 1.3rem;
      }
    }

    .termsOfUse {
      font-size: 1.2rem;
      right: 0;
      top: -0.8rem;
    }
  }
}

.order {
  padding: 8rem 0;
  text-align: center;
}

.order__inner {
  margin: auto;
  width: 112.4rem;
}

.order__catch {
  font-weight: 700;
  line-height: 1;
  margin-top: 3.6rem;
  font-size: 4rem;
}

.order__lead {
  font-size: 2.8rem;
  font-weight: 600; color:#333333;
  line-height: 1;
}

.order__lead2nd {
  font-size: 2.4rem;
  font-weight: 600; color:#333333;
  line-height: 1;
  margin-top: 4.4rem;

  > div {
    display: inline-block;
    position: relative;
  }

  > span {
    font-size: 2.6rem;
  }
}

@include sp {
  .order {
    padding: 3.8rem 0;
  }

  .order__inner {
    width: 100%;
  }

  .order__catch {
    font-size: 2.3rem;
    margin-top: 2.5rem;
  }

  .order__lead {
    font-size: 1.4rem;
  }

  .order__lead2nd {
    font-size: 1.2rem;
    margin-top: 2.5rem;

    > span {
      font-size: 1.3rem;
    }
  }
}

// slash
%slashStyle {
  border-bottom: 1px solid #000;
  display: inline-block;
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;

  @include sp {
    height: 1.6rem;
    width: 1.6rem;
  }
}

.slash-l {
  @extend %slashStyle;
  bottom: 0.6rem;
  left: -1.4rem;
  transform: rotate(-300deg);

  @include sp {
    bottom: 0.4rem;
    transform: rotate(60deg);
  }
}

.slash-r {
  @extend %slashStyle;
  bottom: 0.6rem;
  right: -1.4rem;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);

  @include sp {
    bottom: 0.4rem;
    -webkit-transform: rotate(-63deg);
    transform: rotate(-63deg);
  }
}

.checkAndRegister .slash-l,
.checkAndRegister .slash-r {
  height: 5.5rem;
  width: 5.5rem;
}

@include sp {
  .checkAndRegister .slash-r {
    bottom: 0.6rem;
  }

  .checkAndRegister .slash-l,
  .checkAndRegister .slash-r {
    height: 3rem;
    width: 3rem;
  }

  .button-register .slash-l {
    transform: rotate(75deg);
  }

  .button-register .slash-r {
    transform: rotate(-75deg);
  }
}

.floatingButtonContainer {
  position: fixed;
  left: 0;
  bottom: 10rem;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 4rem 0.8rem 0.8rem 0.8rem;
  text-align: center;
  z-index: 10;
  border-radius: 0.8rem;
}

.floatingButton {
  @extend %buttonBase;
  width: 37.2rem;
  height: 8rem;
  background-color: #000000;
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  margin-top: 0;
  display: flex;
  justify-content: left;
  align-items: center;
}

.floatingButton > span {
  font-size: 1.8rem;
}

.floatingButton__lead {
  color: #333;
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  left: 5rem;
  position: absolute;
  text-align: center;
  top: -3.7rem;
}

.floatingButton .floatingButton__priceCircle {
  background-color: #fff;
  border-radius: 3.6rem;
  color: #333;
  font-size: 1.8rem;
  font-weight: 600;
  width: 7.2rem;
  height: 7.2rem;
  line-height: 1;
  padding-top: 0.4rem;
  text-align: center;
  margin-left: 0.4rem;

  > span {
    font-size: 1.8rem;
  }

  .numberOrPrice {
    font-size: 2.2rem;
  }
}

.floatingButton__label {
  font-size: 2rem;
  color: #e6cd92;
  margin-left: 1.6rem;

  > span {
    font-size: 2.6rem;
  }
}

@include sp {
  .floatingButtonContainer {
    bottom: 1.5rem;
    left: 0;
    padding-top: 0.5rem;
  }

  .floatingButton__lead {
    color: #fff;
    font-size: 1.2rem;
    left: 0;
    position: relative;
    top: 0;
  }

  .floatingButton__label {
    display: inline-block;
    font-size: 1.4rem;
    padding-left: 2rem;
    text-align: left;

    > span {
      font-size: 1.4rem;
    }
  }

  .floatingButton__priceCircle {
    border-radius: 2.5rem;
    font-size: 1.2rem;
    height: 5rem;
    left: 0.5rem;
    top: 0.5rem;
    width: 5rem;
  }

  .numberOrPrice {
    font-size: 1.8rem;
  }
}

.floatingButtonContainer .slash span {
  height: 2.8rem;
  width: 2.8rem;
}
