* {
  // font-family: "Hiragino Kaku Gothic Pro", Meiryo, Osaka, "MS PGothic",
  //   sans-serif;
  // font-family: "Noto Sans JP", sans-serif;
  // font-size: 1.2rem;
  font-size: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", "Oswald", sans-serif;
}

img,
video {
  height: auto !important;
  max-width: 100%;
}

.display-desktop {
  display: block;
}

.display-mobile {
  display: none;
}

@include sp {
  .display-desktop {
    display: none;
  }

  .display-mobile {
    display: block;
  }
}

a {
  text-decoration: none !important;
}

.contents-dark {
  background: $light-grey;
}
