.factor {
  margin: auto;
  padding: 10rem 8rem;
  text-align: center;
  width: 100%;
}

.factor__title {
  @include title-h2;
}

@include sp {
  .factor {
    margin: auto;
    padding: 4.5rem 0;
    width: 88%;
  }
}

.factor__img {
  margin-top: 7.2rem;
}

@include sp {
  .factor__img {
    margin-top: 3.8rem;
  }
}

.factor__downArrow {
  background: url(../img/base/bottom-arrow.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  font-size: 2.4rem;
  height: 7.4rem;
  margin: 5.8rem auto 0;
  width: 24rem;
}

@include sp {
  .factor__downArrow {
    background-size: 100%;
    font-size: 1.2rem;
    height: 3.7rem;
    margin-top: 2.6rem;
    width: 12rem;
  }
}

.factor__listWrapper {
  margin: 4.8rem auto 0;
  text-align: left;
  width: 66rem;
}

@include sp {
  .factor__listWrapper {
    margin-top: 3.2rem;
    width: 100%;
  }
}

.factor__lists {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.factor__lists > li {
  font-size: 2.2rem;
  line-height: 3rem;
  margin: 0 0 2.3rem 5.4rem;
  position: relative;
}

.factor__lists > li > span {
  font-size: 1.2rem;
}

.factor__lists > li :before {
  background: url(../img/checkbox.svg) no-repeat 50%;
  background-size: 3rem;
  content: "";
  display: block;
  height: 3rem;
  left: -5.4rem;
  position: absolute;
  top: 0;
  width: 3rem;
}

@include sp {
  .factor__lists {
    margin: auto;
    max-width: 31.4rem;
    padding-left: 2rem;
    width: 95.5%;
  }

  .factor__lists > li :before {
    background-position: center 0.4rem;
    background-size: 1.5rem;
    left: 0;
    margin-left: -2.8rem;
  }

  .factor__lists > li {
    font-size: 1.4rem;
    line-height: 1.4;
    margin: 0.8rem 0;
  }
}
