.factor {
  margin: auto;
  padding: 10rem 8rem;
  text-align: center;
  width: 100%;

  h2{
    @include title-h2;
  }
}

.factor__title{
  @include title-h2;
}

.factor__img {
  margin-top: 7.2rem;

  > img {
    width: 100%;
  }
}

.factor__lists {
  margin: 4.8rem auto 0;
  text-align: left;
  width: 66rem;
}

@include sp {
  .factor {
    margin: auto;
    padding: 4.5rem 0;
    width: 88%;
  }

  .factor__img {
    margin-top: 3.8rem;
  }

  .factor__lists {
    margin-top: 3.2rem;
    width: 100%;
  }
}
