.footer {
  background: url(../img/footer.svg) top no-repeat;
  background-size: cover;
  font-size: 1.2rem;
  height: 34.7rem;
  padding-top: 5.4rem;
  text-align: center;
  width: 100%;

  > div {
    margin: auto;
    text-align: left;
    width: 64.8rem;

    > h3 {
      font-size: 1.4rem;
      margin: 0 0 1rem;
    }

    > ul {
      line-height: 1.8;
      list-style-position: inside;
      list-style-type: none;
      margin-bottom: 0;
      padding-left: 0;
    }
  }

  > small {
    color: $grey;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 14.6rem;
    margin-top: 5.5rem;
  }
}

@include sp {
  .footer {
    background: url(../img/footer-mobile.svg) top no-repeat;
    background-size: cover;
    height: auto;
    padding: 4.5rem 0 0;

    > div {
      font-size: 1.2rem;
      max-width: 32.8rem;
      width: 87.5%;
    }

    > small {
      font-size: 1.2rem;
      margin-bottom: 2.5rem;
      margin-top: 4.3rem;
    }
  }
}
