.hero {
  overflow: hidden;
  width: 100%;
  background: url(../img/hero-lp.jpg) bottom no-repeat;
  background-size: cover;
}

.hero__inner {
  margin: auto;
  overflow: hidden;
  padding-bottom: 25px;
  position: relative;
  width: 1124px;
}

.mainTitle__logo {
  left: 0;
  position: absolute;
  top: 10px;
  width: 160px;
}

.hero__eyecatche {
  position: absolute;
  right: 0;
  top: 0;
}

.mainTitle__text {
  font-size: 12px;
  text-align: left;
  margin-top: 8px;
}

.hero__title {
  font-size: 60px;
  margin-top: 128px;
}

.hero__title__main {
  font-size: 40px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 40px;
}

.hero__title__sub {
  font-size: 72px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 32px;
}

.hero__title__3rd {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

@include sp {
  .hero {
    height: auto;
    width: 100%;
    background: url(../img/hero-lp-sp.jpg) bottom no-repeat;
    background-size: cover;
  }

  .hero__inner {
    margin: auto;
    padding-bottom: 30px;
    width: 88%;
  }

  .mainTitle__logo {
    top: 20px;
    width: 79px;
    height: 22px;
  }

  .hero__eyecatche {
    height: 96.6px;
    right: 0;
    width: 154.5px;

    > img {
      width: 100%;
      height: auto;
    }
  }

  .mainTitle__text {
    font-size: 7px;
    margin-top: 6px;
  }

  .hero__title {
    font-size: 32px;
    margin-top: 84px;
  }

  .hero__title__main {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 12px;
  }

  .hero__title__sub {
    font-size: 34px;
    margin-bottom: 12px;
  }

  .hero__title__3rd {
    font-size: 20px;
  }
}

.hero__priceCircle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 32px;
  width: 302px;
}

.priceCircle {
  background: #00a0e8;
  border-radius: 50%;
  color: #fff;
  height: 141px;
  line-height: 1.3;
  text-align: center;
  width: 141px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.priceCircle__inner {
  display: block;
}

.priceCircle__title {
  margin-bottom: 4px;
  font-size: 22px;
  line-height: 1.1;
}

.unitBox {
  display: inline-block;
}

.tax {
  font-size: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: right;
}

.unit {
  font-size: 16px;
}

.price {
  font-size: 40px;
  line-height: 1.1;
}

.asterisk {
  display: block;
  font-size: 12px;
  text-align: right;
  margin-top: 4px;
  padding-right: 16px;
}

@include sp {
  .hero__priceCircle {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 190px;
  }

  .priceCircle {
    font-size: 13px;
    height: 90px;
    width: 90px;

    .priceCircle__title {
      font-size: 12px;
    }

    .unitBox {
      font-size: 14px;
    }

    .price {
      font-size: 22px;
    }

    .tax {
      font-size: 8px;
      font-weight: 600;
    }

    .asterisk {
      margin-top: 4px;
      font-size: 6px;
      font-weight: 600;
    }
  }
}
