.base__title-h1 {
  font-size: 24px;
  line-height: 1.7;
  font-weight: 600;
}

.hero {
  overflow: hidden;
  width: 100%;
  background: url(../img/hero-lp.jpg) bottom no-repeat;
  background-size: cover;
}

.hero__inner {
  margin: auto;
  overflow: hidden;
  padding-bottom: 25px;
  position: relative;
  width: 980px;
}

.hero__logo {
  left: 0;
  position: absolute;
  top: 10px;
  width: 160px;
}

.hero__eyecatche {
  position: absolute;
  right: 0;
  top: 0;
}

.hero__title {
  font-size: 60px;
  margin-top: 135px;
  margin-bottom: 40px;
}

.hero__title__main {
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 48px;
}

.hero__title__sub {
  font-size: 68px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 24px;
}

.hero__title__3rd {
  font-size: 48px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 40px;
}

.numberOrPrice {
  font-size: 120px;
  font-weight: 700;

  > span {
    font-size: 60px;
  }
}

.tax {
  font-size: 20px;
}

.asterisk {
  font-size: 14px;
  text-align: right;
  padding-right: 14px;
}

@include sp {
  .base__title-h1 {
    font-size: 14px;
    line-height: 1.6;
  }

  .hero {
    height: auto;
    width: 100%;
    background: url(../img/hero-lp-sp.jpg) bottom no-repeat;
    background-size: cover;
  }

  .hero__inner {
    width: 88%;
    margin: auto;
    padding-bottom: 32px;
  }

  .hero__logo {
    width: 79px;
    height: 22px;
    top: 20px;
  }

  .hero__eyecatche {
    width: 154.5px;
    height: 96.6px;
    right: 0;

    > img {
      width: 100%;
      height: auto;
    }
  }

  .hero__title {
    font-size: 32px;
    margin-top: 72px;
    margin-bottom: 32px;
  }

  .hero__title__main {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .hero__title__sub {
    font-size: 34px;
    margin-bottom: 24px;
  }

  .hero__title__3rd {
    font-size: 34px;
  }

  .numberOrPrice {
    font-size: 60px;
  }

  .tax {
    font-size: 12px;
  }

  .asterisk {
    font-size: 12px;
  }
}

.doubleDeck {
  display: inline-block;
  text-align: left;

  > span {
    display: block;
  }
}

.comment {
  font-weight: 400;
  margin-bottom: 3px;
}

@include sp {
  .comment {
    margin-bottom: 2px;
  }
}
