.base__title-h1 {
  font-size: 2.4rem;
  line-height: 1.7;
  font-weight: 600; color:$heading;
}

.hero {
  overflow: hidden;
  width: 100%;
  background: url(../img/hero-lp.jpg) bottom no-repeat;
  background-size: cover;
}

.hero__inner {
  margin: auto;
  overflow: hidden;
  padding-bottom: 2.5rem;
  position: relative;
  width: 98.0rem;
}

.hero__logo {
  left: 0;
  position: absolute;
  top: 1rem;
  width: 16rem;
}

.hero__eyecatche {
  position: absolute;
  right: 0;
  top: 0;
}

.hero__title {
  font-size: 6rem;
  margin-top: 13.5rem;
  margin-bottom: 4rem;
}

.hero__title__main {
  font-size: 3.2rem;
  font-weight: 600; color:$heading;
  line-height: 1;
  margin-bottom: 4.8rem;
}

.hero__title__sub {
  font-size: 6.8rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 2.4rem;
}

.hero__title__3rd {
  font-size: 4.8rem;
  font-weight: 600; color:$heading;
  line-height: 1;
  margin-bottom: 4rem;
}

.numberOrPrice {
  font-size: 12rem;
  font-weight: 700;

  > span {
    font-size: 6rem;
  }
}

.tax {
  font-size: 2rem;
}

.asterisk {
  font-size: 1.4rem;
  text-align: right;
  padding-right: 1.4rem;
}

@include sp {
  .base__title-h1 {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  .hero {
    height: auto;
    width: 100%;
    background: url(../img/hero-lp-sp.jpg) bottom no-repeat;
    background-size: cover;
  }

  .hero__inner {
    width: 88%;
    margin: auto;
    padding-bottom: 3.2rem;
  }

  .hero__logo {
    width: 8rem;
    height: 2.2rem;
    top: 2rem;
  }

  .hero__eyecatche {
    width: 15.5rem;
    height: 9.6rem;
    right: 0;

    > img {
      width: 100%;
      height: auto;
    }
  }

  .hero__title {
    font-size: 3.2rem;
    margin-top: 7.2rem;
    margin-bottom: 3.2rem;
  }

  .hero__title__main {
    font-size: 2rem;
    margin: 0 0 2.4rem;
  }

  .hero__title__sub {
    font-size: 3.4rem;
    margin-bottom: 2.4rem;
  }

  .hero__title__3rd {
    font-size: 3.4rem;
  }

  .numberOrPrice {
    font-size: 6rem;
  }

  .tax {
    font-size: 1.2rem;
  }

  .asterisk {
    font-size: 1.2rem;
  }
}

.doubleDeck {
  display: inline-block;
  text-align: left;

  > span {
    display: block;
  }
}

.comment {
  font-weight: 400;
  margin-bottom: 0.3rem;
}

@include sp {
  .comment {
    margin-bottom: 0.2rem;
  }
}
