@mixin sp {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin title-h2 {
  font-size: 4rem;
  font-weight: 600;
  color:#333333;
  line-height: 1.3;
  margin: 0;

  > span {
    display: block;
    font-size: 3.2rem;
    margin-bottom: 2rem;
  }

  @include sp {
    font-size: 2.2rem;

    > span {
      font-size: 1.6rem;
      margin-bottom: 1.2rem;
    }
  }
}

@mixin annotation {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  position: relative;

  &:before {
    content: "※";
    display: block;
    height: 1.2rem;
    left: -1.2rem;
    position: absolute;
    top: 0;
    width: 1.2rem;
  }
}
