%title {
  background: #000;
  color: $gold;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 2.14286;

  @include sp {
    font-size: 1.4rem;
    line-height: 2.5;
  }
}

.imgBoxLeft__title {
  @extend %title;
}

.imgBoxLeft__lead {
  font-size: 1.6rem;
  line-height: 1.8;
  margin-top: 3rem;

  @include sp {
    font-size: 1.2rem;
    margin-top: 3.6rem;
  }
}

.imgBoxRight__title {
  @extend %title;
}

.regulation {
  background: $light-grey;
  padding: 10rem 0;
  text-align: center;
  width: 100%;

  @include sp {
    padding: 4rem 0;
    min-width: auto;
  }
}

.regulation__title {
  @include title-h2;
}

.regulation__inner {
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 92rem;

  @include sp {
    width: 100%;
  }
}

.regulation__body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 7.2rem auto 0;
  width: 92rem;

  @include mb {
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 5.6rem;
  }

  @include sp {
    margin: 3.6rem auto 0;
    margin-top: 3.6rem;
    width: 100%;
  }
}

.imgBoxLeft {
  background: #fff;
  height: 58.4rem;
  width: 44rem;

  @include mb {
    height: auto;
    margin: auto;
    width: 92%;
  }
}

.imgBoxLeft__body{
  @include mb {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.baseImage {
  display: inline-block;
  vertical-align: top;
  height: 10rem;
  width: 13.6rem;
}

.baseExplanation {
  display: inline-block;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 1.8;
  margin-left: 1.8rem;

  @include sp {
    font-size: 1.2rem;
  }
}

.baseLabel {
  background: $light-blue;
  display: inline-block;
  font-size: 1.8rem;
  padding: 1.5px 1.2rem;

  @include sp {
    font-size: 1.2rem;
  }
}

.baseText {
  margin-top: 0.8rem;

  @include sp {
    margin-left: 0.5rem;
  }
}

.baseTypeLists {
  list-style-type: none;
  margin-top: 3.2rem;
  padding: 0 0 4rem 1.5rem;

  @include sp {
    margin-top: 2.5rem;
  }
}

.baseTypeLists > li {
  margin-top: 2.4rem;
  text-align: left;

  @include sp {
    margin-top: 1.5rem;
    display: flex;

    .baseImage {
      height: 8.5rem;
      width: 9.6rem;
    }
  }

  &:first-of-type .baseImage {
    background-image: url(../img/regulation-l1.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 13.6rem;

    @include sp {
        background-image: url(../img/regulation-l1-mobile.jpg);
        background-size: 9.6rem;
    }
  }

  &:nth-of-type(2) .baseImage {
    background-image: url(../img/regulation-l2.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 13.6rem;
  }

  &:nth-of-type(3) .baseImage {
    background-image: url(../img/regulation-l3.jpg);
    background-repeat: center center;
    background-repeat: no-repeat;
    background-size: 13.6rem;
  }
}

.imgBoxRight {
  background: #fff url(../img/regulation-r.svg) center 70% no-repeat;
  background-size: 35.2rem;
  height: 58.4rem;
  width: 44rem;

  @include mb {
    margin-top: 5.6rem;
    width: 92%;
  }

  @include sp {
    background: #fff url(../img/regulation-b-mobile.svg) center 60% no-repeat;
    background-size: 32rem;
    height: auto;
    margin: 3.6rem auto 0;
    padding-bottom: 45rem;
  }
}

.regulation__explanation {
  font-size: 2.4rem;
  font-weight: 600;
  color: $heading;
  line-height: 1.6;
  margin-top: 7.2rem;

  @include sp {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
}

.regulation__explanation  > span {
  color: $blue;
  display: inline-block;
  font-size: 3.2rem;
  margin-top: 1.5rem;

  @include sp {
    font-size: 2.2rem;
    margin-top: 1rem;
  }
}


@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .regulation .regulation__body .imgBoxLeft > ul > li:first-of-type .baseImage {
    background-image: url(../img/regulation-l1@2x.jpg);
  }
}

@include sp {
  .regulation .regulation__body .imgBoxLeft > ul > li:first-of-type .baseImage {
    background-image: url(../img/regulation-l1-mobile.jpg);
    background-size: 9.6rem;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .regulation .regulation__body .imgBoxLeft > ul > li:first-of-type .baseImage {
    background-image: url(../img/regulation-l1-mobile@3x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(2)
    .baseImage {
    background-image: url(../img/regulation-l2@2x.jpg);
  }
}

@include sp {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(2)
    .baseImage {
    background-image: url(../img/regulation-l2-mobile.jpg);
    background-size: 9.6rem;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(2)
    .baseImage {
    background-image: url(../img/regulation-l2-mobile@3x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(3)
    .baseImage {
    background-image: url(../img/regulation-l3@2x.jpg);
  }
}

@include sp {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(3)
    .baseImage {
    background-image: url(../img/regulation-l3-mobile.jpg);
    background-size: 9.6rem;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(3)
    .baseImage {
    background-image: url(../img/regulation-l3-mobile@3x.jpg);
  }
}
