%title {
  background: #000;
  color: #e6cd92;
  font-size: 28px;
  font-weight: 600;
  line-height: 60px;

  @include sp {
    font-size: 14px;
    line-height: 35px;
  }
}

.imgBoxLeft__title {
  @extend %title;
}

.imgBoxLeft__lead {
  font-size: 16px;
  line-height: 1.8;
  margin-top: 30px;

  @include sp {
    font-size: 12px;
    margin-top: 36px;
  }
}

.imgBoxRight__title {
  @extend %title;
}

.regulation {
  background: #f5f5f5;
  padding: 100px 0;
  text-align: center;
  min-width: 1124px;
}

.regulation__title {
  @include title-h2;
}

.regulation__inner {
  margin: auto;
  overflow: hidden;
  text-align: center;
  width: 920px;
}

.regulation__body {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 72px auto 0;
  width: 920px;
}

.imgBoxLeft {
  background: #fff;
  height: 584px;
  width: 440px;
}

.baseImage {
  display: inline-block;
  vertical-align: top;
  height: 100px;
  width: 136px;
}

.baseExplanation {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.8;
  margin-left: 18px;
}

.baseLabel {
  background: #e7f3f9;
  display: inline-block;
  font-size: 18px;
  padding: 1.5px 12px;
}

.baseText {
  margin-top: 8px;
}

.baseTypeLists {
  list-style-type: none;
  margin-top: 32px;
  padding: 0 0 40px 15px;

  > li {
    margin-top: 24px;
    text-align: left;

    &:first-of-type .baseImage {
      background-image: url(../img/regulation-l1.jpg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 136px;
    }

    &:nth-of-type(2) .baseImage {
      background-image: url(../img/regulation-l2.jpg);
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 136px;
    }

    &:nth-of-type(3) .baseImage {
      background-image: url(../img/regulation-l3.jpg);
      background-repeat: center center;
      background-repeat: no-repeat;
      background-size: 136px;
    }
  }
}

.imgBoxRight {
  background: #fff url(../img/regulation-r.svg) center 70% no-repeat;
  background-size: 352px;
  height: 584px;
  width: 440px;
}

.regulation__explanation {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
  margin-top: 72px;

  > span {
    color: #00a0e8;
    display: inline-block;
    font-size: 32px;
    margin-top: 15px;
  }
}

@include sp {
  .regulation {
    padding: 40px 0;
    min-width: auto;
  }

  .regulation__inner {
    width: 100%;
  }

  .regulation__body {
    display: block;
    margin: 36px auto 0;
    width: 100%;
  }

  .imgBoxLeft {
    height: auto;
    margin: auto;
    width: 92%;

    .baseExplanation {
      font-size: 12px;
    }

    .baseLabel {
      font-size: 12px;
    }

    .baseText {
      margin-left: 5px;
    }
  }

  .baseTypeLists {
    margin-top: 25px;

    > li {
      margin-top: 15px;

      .baseImage {
        height: 85px;
        width: 95.5px;
      }

      &:first-of-type .baseImage {
        background-image: url(../img/regulation-l1-mobile.jpg);
        background-size: 95.5px;
      }
    }
  }

  .imgBoxRight {
    background: #fff url(../img/regulation-b-mobile.svg) center 60% no-repeat;
    background-size: 88%;
    height: auto;
    margin: 36px auto 0;
    padding-bottom: 108%;
    width: 92%;
  }

  .regulation__explanation {
    font-size: 14px;
    margin-top: 30px;

    > span {
      font-size: 22px;
      margin-top: 10px;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .regulation .regulation__body .imgBoxLeft > ul > li:first-of-type .baseImage {
    background-image: url(../img/regulation-l1@2x.jpg);
  }
}

@include sp {
  .regulation .regulation__body .imgBoxLeft > ul > li:first-of-type .baseImage {
    background-image: url(../img/regulation-l1-mobile.jpg);
    background-size: 95.5px;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .regulation .regulation__body .imgBoxLeft > ul > li:first-of-type .baseImage {
    background-image: url(../img/regulation-l1-mobile@3x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(2)
    .baseImage {
    background-image: url(../img/regulation-l2@2x.jpg);
  }
}

@include sp {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(2)
    .baseImage {
    background-image: url(../img/regulation-l2-mobile.jpg);
    background-size: 95.5px;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(2)
    .baseImage {
    background-image: url(../img/regulation-l2-mobile@3x.jpg);
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  screen and (-webkit-min-device-pixel-ratio: 2) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(3)
    .baseImage {
    background-image: url(../img/regulation-l3@2x.jpg);
  }
}

@include sp {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(3)
    .baseImage {
    background-image: url(../img/regulation-l3-mobile.jpg);
    background-size: 95.5px;
  }
}

@media only screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 3),
  only screen and (max-width: 480px) and (min-resolution: 3dppx) {
  .regulation
    .regulation__body
    .imgBoxLeft
    > ul
    > li:nth-of-type(3)
    .baseImage {
    background-image: url(../img/regulation-l3-mobile@3x.jpg);
  }
}
