//resolution
.resolution {
  background: url(../img/service/triangle-dark.svg) center 3.5rem no-repeat;
  margin: auto;
  padding: 16rem 0 6rem;
  max-width: 112.4rem;

  @include sp {
    background: none;
    padding: 6.8rem 0 4rem;
    width: 92%;
  }
}

.resolution__title {
  font-size: 3.2rem;
  line-height: 1.6;
  margin: 0 0 10rem;
  text-align: center;
  font-weight: 600;
  color: $heading;

  @include sp {
    font-size: 1.6rem;
    margin: 0 0 3rem;
  }
}

.resolution__titleAccent {
  color: $blue;
  font-size: 4rem;

  @include sp {
    font-size: 2.1rem;
  }
}

.resolution-inner {
  border: 1px solid $blue;
  margin-top: 6rem;

  @include sp {
    margin-top: 3rem;
  }
}

.resolution__subTitle--h4 {
  background: $blue;
  color: #fff;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 2.73;
  margin: 0;
  text-align: center;

  @include sp {
    font-size: 1.3rem;
    line-height: 2.769;
  }
}

.resolution__titleAccent--h4 {
  padding-right: 0.5rem;
  font-size: 3.2rem;

  @include sp {
    font-size: 1.8rem;
  }
}

.resolution__subTitle--h5 {
  font-size: 2.2rem;
  text-align: center;

  @include sp {
    font-size: 1.3rem;
  }
}

.resolution__titleAccent--h5 {
  font-size: 3.2rem;

  @include sp {
    font-size: 2.2rem;
  }
}

.dataContents,
.payContents {
  padding: 5rem 7rem 4.5rem;

  @include sp {
    padding: 3rem 0 4rem;
  }
}

.dataContents__subTitle--h5,
.payContents__subTitle--h5 {
  font-size: 2.2rem;
  margin: 0;
  text-align: center;
  width: 100%;

  @include sp {
    font-size: 1.3rem;
  }
}

.dataPay__subtitleAccent {
  display: block;
  font-size: 4rem;
  font-weight: 600;
  color: $heading;
  margin-top: 1.4rem;

  @include sp {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

.contents-overview {
  margin-top: 4.3rem;
  display: flex;
  justify-content: left;
  flex-wrap: nowrap;

  .imgBox {
    display: block;
    margin-right: 4.7rem;
  }

  .textBox {
    width: 52.3rem;
  }

  > div {
    display: block;
    line-height: 1.8;
    margin-bottom: 1rem;

    > div {
      font-size: 2rem;
    }
  }

  .beforePrint {
    margin-bottom: 1.6rem;

    > strong {
      padding-top: 4rem;
    }
  }

  strong {
    font-size: 2rem;
  }
}

@include sp {
  .contents-overview {
    margin: 3rem auto 0;
    width: 92%;
    display: block;

    .imgBox {
      margin: 0 2.8% 0.5rem 0;
      width: 34%;
      float: left;
    }

    .textBox {
      width: 100%;
    }

    > span {
      font-size: 1.2rem;
      width: 63.2%;
    }
    //FIXME
    > div > div {
      font-size: 1.2rem;
      strong {
        font-size: 1.2rem;
      }
    }

    .beforePrint {
      font-size: 1.2rem;

      > strong {
        font-size: 1.2rem;
      }

      & + span {
        width: 100%;
      }
    }
  }
}

.confirmImage {
  background: $light-blue;
  margin-top: 3rem;
  padding: 4.5rem 4.8rem 6.5rem;

  @include sp {
    margin-top: 1.8rem;
    padding: 2.2rem 1.5rem;
  }
}

.confirmImage__subTitle--h5 {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 0;
  text-align: center;

  @include sp {
    font-size: 1.2rem;
  }
}

.confirmImage__subTitle--accent {
  border-bottom: 2px solid $blue;
  color: $blue;
  display: block;
  font-size: 3.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  padding-bottom: 0.6rem;

  @include sp {
    font-size: 1.8rem;
  }
}

.confirmImage__inner {
  margin-top: 3rem;
  text-align: center;

  @include sp {
    margin-top: 2.1rem;
  }
}

.confirmImage__imgBox {
  margin-bottom: 2.8rem;
}

.confirmImage__copy {
  font-size: 2.4rem;
  font-weight: 600;
  color: $heading;
  margin-top: 7.3rem;
  text-align: center;

  @include sp {
    font-size: 1.2rem;
    margin-top: 3rem;
  }
}

.confirmImage__copyAccent {
  color: $blue;
  font-size: 3.2rem;
  padding-right: 1rem;

  @include sp {
    font-size: 1.8rem;
  }
}

.explanation {
  font-size: 2rem;
  line-height: 1.7;
  margin-top: 2.8rem;
  text-align: center;
}

@include sp {
  .explanation {
    font-size: 1.2rem;
    margin-top: 1.2rem;
  }
}

// pointCheck

.pointCheck {
  margin-top: 7rem;
  text-align: center;
  font-size: 2.4rem;

  @include sp {
    margin-top: 3.5rem;
    font-size: 1.2rem;
  }
}

.pointCheck__copy {
  color: #1394d7;
  font-size: 3.2rem;
  margin-bottom: 6rem;
  margin-top: 9.5rem;
  position: relative;

  @include sp {
    font-size: 1.8rem;
    font-weight: 600;
    color: $heading;
    margin-bottom: 1.8rem;
    margin-top: 4.8rem;
  }
}

.pointCheck__copy::before {
  border: 4rem solid transparent;
  border-top-color: $blue;
  content: "";
  left: calc(50% - 2rem);
  position: absolute;
  top: -7rem;

  @include sp {
    border-color: $blue transparent transparent;
    border-style: solid;
    border-width: 1.5rem 2rem;
    left: calc(50% - 2rem);
    top: -3rem;
  }
}

.pointCheck__imgBox {
  @include sp {
    margin: auto;
    width: 80%;
  }
}

.submissionAndCheckMethods {
  margin-top: 10rem;

  .resolution__subTitle--h5 {
    font-size: 3.2rem;
    margin: 0 0 2.7rem;
    text-align: center;
    font-weight: 600;
    color: $heading;
  }

  .submissionAndCheckMethods_inner {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

@include sp {
  .submissionAndCheckMethods .submissionAndCheckMethods_inner {
    display: block;
    margin: auto;
  }
}

@include sp {
  .submissionAndCheckMethods {
    margin-top: 5rem;

    .resolution__subTitle--h5 {
      font-size: 1.6rem;
      margin-bottom: 2rem;
    }
  }
}

.contentsWrap {
  border-bottom: 6px solid $light-blue;
  border-left: 6px solid $light-blue;
  border-radius: 0 0 1rem 1rem;
  border-right: 6px solid $light-blue;

  .methodUpperBox {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@include sp {
  .contentsWrap {
    border-radius: 0 0 5px 5px;
    border-width: 3px;

    .methodUpperBox > img {
      clear: left;
      float: left;
      width: 6.8rem;
    }
  }
}

.method--operetorCheck,
.method--speedCheck {
  width: 47rem;
}

.method--operetorCheck .contentsWrap,
.method--speedCheck .contentsWrap {
  padding: 3.2rem 2.4rem 2.4rem 2.4rem;

  .methodSummary {
    font-size: 2.4rem;
    line-height: 1.4;
    margin-top: 3.2rem;
    padding-bottom: 2.3rem;
    text-align: center;
  }
}

@include sp {
  .method--operetorCheck,
  .method--speedCheck {
    margin: 2.5rem auto 0;
    width: 91.3%;

    .contentsWrap {
      min-height: auto;
      padding: 2.8rem 5.5%;

      .methodSummary {
        display: inline-block;
        font-size: 1.2rem;
        margin-left: 2.4rem;
        margin-top: 1rem;
        padding-bottom: 2.1rem;
        text-align: left;
        width: calc(100% - 9.2rem);
      }
    }
  }
}

.method__title {
  background: $light-blue;
  border-radius: 1rem 1rem 0 0;
  display: table;
  font-size: 2.4rem;
  height: 6.4rem;
  text-align: center;
  width: 100%;

  > span {
    display: table-cell;
    font-weight: 600;
    color: $heading;
    color: $blue;
    vertical-align: middle;
    font-size: inherit;
  }
}

@include sp {
  .method__title {
    border-radius: 5px 5px 0 0;
    font-size: 1.5rem;
    height: 3.8rem;
  }
}

.submissionMethod {
  color: $blue;
  display: inline-block;
  font-size: 2.8rem;
  font-weight: 600;
  margin-left: 2.5rem;
  text-align: left;
  vertical-align: middle;
}

@include sp {
  .submissionMethod {
    float: left;
    font-size: 1.4rem;
    margin-left: 2.4rem;
  }
}

.methodDetailList {
  border-top: 2px solid $blue;
  font-size: 2.2rem;
  line-height: 1.6;
  margin: 0;
  padding-top: 2.3rem;
}

.methodDetailList > dt {
  clear: left;
  float: left;
  font-size: inherit;
}

.methodDetailList > dd {
  font-size: inherit;
}

.methodDetailList > dt:nth-of-type(4) {
  clear: none;
  float: none;
}

@include sp {
  .methodDetailList {
    border-width: 1px;
    font-size: 1.3rem;
    padding-top: 1.8rem;
  }
}

.method--dataCheck {
  margin-top: 3rem;
  position: relative;

  .contentsWrap {
    padding: 4rem;
  }
}

@include sp {
  .method--dataCheck .contentsWrap {
    margin: auto;
    padding: 2.6rem 5.5%;
  }
}

.method--dataCheck .methodUpperBox {
  display: inline-block;
  margin-bottom: 2.5rem;
  vertical-align: middle;

  .imgWrap {
    display: block;
    margin-bottom: 1.8rem;
    width: 21.9rem;
  }
}

@include sp {
  .method--dataCheck .methodUpperBox .imgWrap {
    clear: left;
    display: inline-block;
    float: left;
    padding-top: 1rem;
    width: 6.8rem;
  }
}

.method--dataCheck .methodUpperBox .submissionMethod {
  display: block;
  margin-left: 0;
  text-align: center;
  width: 21.9rem;
}

@include sp {
  .method--dataCheck .methodUpperBox .submissionMethod {
    display: inline-block;
    margin-left: 2.4rem;
    text-align: left;
    width: calc(100% - 9.2rem);
  }
}

.method--dataCheck .methodUpperBox .methodSummary {
  font-size: 2.4rem;
  margin-left: 25.8rem;
  position: absolute;
  text-align: left;
  top: 12.8rem;
  width: 65.5rem;
}

@include sp {
  .method--dataCheck .methodUpperBox {
    margin-bottom: 0;
    margin-right: 0;

    .methodSummary {
      display: inline-block;
      font-size: 1.2rem;
      margin-left: 2.4rem;
      margin-top: 1rem;
      padding-bottom: 2.1rem;
      position: relative;
      text-align: left;
      top: 0;
      width: calc(100% - 9.2rem);
    }
  }
}

.method--dataCheck .methodDetailList {
  margin-left: 25.8rem;
  position: absolute;
  top: 22rem;
  width: 61.5rem;
}

@include sp {
  .method--dataCheck {
    margin: 2.5rem auto 0;
    width: 91.3%;

    .methodDetailList {
      margin-left: 0;
      position: relative;
      top: 0;
      width: 100%;
    }
  }
}

// payContents

.payContents {
  .contents-overview {
    > span {
      width: 68rem;
    }

    .complement {
      font-size: 1.6rem;
      margin: 2rem 0 0;
    }
  }
}

@include sp {
  .payContents {
    > span:first-of-type {
      line-height: 2;
      padding-top: 0;
      width: 63.2%;
    }

    .contents-overview {
      > span {
        width: 100%;
      }
      .imgBox {
        margin-right: 3rem;
      }

      .complement {
        font-size: 1.2rem;
        margin-top: 0;
      }
    }
  }
}

// .orderToDelivery {
// }
.resolution__subTitle--h5 {
  font-size: 2.6rem;
  margin: 6rem 0 2.5rem;
  text-align: center;

  @include sp {
    font-size: 2.6rem;
    margin: 3.3rem 0 2rem;
  }
}

.orderToDelivery__inner {
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-between;

  @include sp {
    flex-wrap: wrap;
  }
}

.orderToDelivery__item {
  background: $light-grey;
  height: 24.8rem;
  padding: 3rem 1.8rem;
  position: relative;
  width: 21.8rem;
  z-index: 2;

  @include sp {
    height: 15.7rem;
    margin-bottom: 1.5rem;
    margin-right: 2.6rem;
    padding: 1.3rem;
    width: calc(50% - 2.6rem);
  }
}

.orderToDelivery__item::after {
  background: url(../img/arrow.svg) no-repeat 50%;
  bottom: calc(50% - 1.8rem);
  background-size: 2.5rem;
  content: "";
  height: 3.5rem;
  position: absolute;
  right: -3.5rem;
  width: 3.5rem;
  z-index: 1;

  @include sp {
    background: url(../img/arrow-mobile.svg) no-repeat 50%;
    background-size: 2.5rem;
    bottom: calc(50% - 1rem);
    height: 2rem;
    right: -2.5rem;
    width: 2.5rem;
  }
}

.orderToDelivery__item:last-child:after {
  content: none;
}

.item__title {
  border-bottom: 2px solid $blue;
  font-size: 2.6rem;
  font-weight: 600;
  color: $heading;
  margin: auto;
  padding-bottom: 1.1rem;
  text-align: center;
  width: 11rem;
}

.item__description {
  font-size: 1.8rem;
  line-height: 1.7;
  margin-top: 1.3rem;
}

@include sp {
  .orderToDelivery {
    .orderToDelivery__inner {
    }

    .resolution__subTitle--h5 {
    }

    .item {
      &:after {
      }
    }
  }
}

@include sp {
  .orderToDelivery .title {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    width: 6.2rem;
  }
}

@include sp {
  .orderToDelivery {
    margin: auto;
    width: 91.3%;

    .description {
      font-size: 1.2rem;
      margin-top: 0.7rem;
    }
  }
}

.separatorBelt {
  background: $blue;
  color: #fff;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.3;
  padding: 11rem 0 6rem;
  position: relative;
  text-align: center;
  z-index: 1;
  min-width: 112.4rem;

  @include sp {
    font-size: 2.2rem;
    line-height: 1.6;
    padding: 4.4rem 0 1.8rem;
    min-width: auto;
    width: 100%;
  }
}

.separatorBelt__smallText {
  display: block;
  font-size: 3.2rem;
  margin-bottom: 1.8rem;

  @include sp {
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
  }
}

.separatorBelt__triangle {
  background: #fff;
  height: 5rem;
  left: calc(50% - 2.5rem);
  position: absolute;
  top: -3rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 5rem;
  z-index: 2;
}
