.templates {
  padding: 10rem 0;
  max-width: 112.4rem;
  margin: auto;

  @include sp {
    padding: 4.5rem 0;
  }
}

.templates__title {
  @include title-h2;
}

.templates__inner {
  margin: auto;
  text-align: center;

  @include sp {
    margin: 0;
    width: 100%;
  }
}

.templates__lead {
  font-size: 2.2rem;
  margin-top: 2rem;

  @include sp {
    font-size: 1.3rem;
    line-height: 2;
    margin-top: 1.2rem;

  }
}

.templates__lists {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  list-style-type: none;
  margin: 4.4rem auto 0;
  padding-left: 0;
  text-align: left;
  width: 92rem;

  @include mb {
    width: 92%;
    justify-content: center;
    gap:2rem;
    margin-inline:auto;
    margin-top: 3.2rem;

  }
}

.templates__item {
  margin: 2rem 0 0;

  @include sp {
    margin: 0 0 2rem;
    width: 46.5%;

  }

}

.templates__item a {
  color: #333;
  font-size: 1.4rem;

  @include sp {
    font-size: 1.2rem;
    text-align: left;

  }
}

.templates__imgBox {
  height: 20.8rem;
  padding-top: 1.5rem;
  text-align: center;
  width: 20.8rem;

  @include sp {
    height: auto;
    padding: 7.7% 0;
    width: 100%;

  }

}

.templates__imgBox img {
  max-height: 17.7rem;
  max-width: 12.6rem;

  @include sp {
    max-height: 85%;
    max-width: 58%;

  }
}

.templates__label {
  background: #000;
  color: $gold;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.4rem 0;

  @include sp {
    font-size: 1.2rem;
    line-height: 1.667;
  }
}

.templates__name {
  margin-top: 0.4rem;
}

.templates__tool {
  background: $light-blue;
  border-radius: 2rem;
  margin: 8rem auto 0;
  padding: 3.2rem;
  text-align: center;
  width: 92rem;

  @include mb {
    width: 92%;
  }

  @include sp {
    border-radius: 1rem;
    margin: 2rem auto 0;
    max-width: 34.5rem;
    padding: 2rem 0 2.5rem 6.5%;
  }
}

.templates__title-h3 {
  color: $blue;
  font-size: 2.6rem;
  margin: 0 0 2.4rem;

  @include sp {
    font-size: 1.5rem;
  }
}

.templates__explanation {
  font-size: 2rem;
  margin-bottom: 2.4rem;
  margin-top: 2.6rem;
  text-align: left;

  @include sp {
    font-size: 1.2rem;
  }
}

.templates__applications {
  font-size: 1.6rem;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;

  @include sp {
    font-size: 1.2rem;
    text-align: left;
    justify-content: left;
  }

}

.templates__applications > dt {
  font-weight: 400;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;

  @include sp {
    display: inline-block;
  }
}

.templates__applications > dd {
  background: #fff;
  margin: 0 1.6rem 0.8rem 0;
  padding: 0.3rem 1.8rem;
  border-radius: 2px;

  @include sp {
    margin: 0 0.4rem 0.8rem;
    padding: 0.5rem 0.7rem;
  }
}
